os: osx
language: objective_c
before_install:
 - brew update
 - brew install python3 
 - brew postinstall python3
 - brew install python
 - brew postinstall python
 - python3 -c 'import setuptools'
 - brew install ninja
 - brew install mpv --with-shared --HEAD
 - brew outdated cmake || brew upgrade cmake
 - mkdir build ; cd build
 - cmake -GNinja -DCMAKE_BUILD_TYPE=Debug -DCMAKE_INSTALL_PREFIX=output ..
install:
 - ninja
 - ninja install
 - tar -zcvf PMP.tar.gz "output/Plex Media Player.app"
deploy:
  provider: releases
  api_key:
    secure: ds6Q/BHYiOLMS0ijGrVnOHIb5kyDX1MdexVIpeJokNUXNCvVeJcmJtd1tcgN0izwdP6NJw7ZPwAoCuqkv$
  file: build/output/pmp.tar.gz
  on:
    repo: kingmatusevich/plex-media-player


