os: osx
language: objective_c
before_install:
 - brew update
 - brew outdated ninja || brew upgrade ninja
 - brew outdated mpv || brew upgrade mpv --with-shared --HEAD
 - brew outdated cmake || brew upgrade cmake
 - mkdir build ; cd build
 - cmake -Gninja -DCMAKE_BUILD_TYPE=Debug -DCMAKE_INSTALL_PREFIX=output ..
install:
 - ninja
 - ninja install
