os: osx
language: objective_c
before_install:
 - brew update
 - brew install python3 
 - brew postinstall python3
 - brew install python
 - brew postinstall python
 - python3 -c 'import setuptools'
 - brew install ninja
 - brew install mpv --with-shared --HEAD
 - brew outdated cmake || brew upgrade cmake
 - mkdir build ; cd build
 - cmake -GNinja -DCMAKE_BUILD_TYPE=Debug -DCMAKE_INSTALL_PREFIX=output ..
install:
 - ninja
 - ninja install
 - tar -zcvf PMP.tar.gz "output/Plex Media Player.app"
deploy:
  provider: releases
  api_key: "1c9cfc7f0a2a02a4ca7eb2c7f7902db5c9941b49"
  file: "$TRAVIS_BUILD_DIR/build/output/PMP.tar.gz"
  skip_cleanup: true
  On:
    tags: true
